PORT=3000
DATABASE_URL=postgresql://usuario:password@localhost:5432/finances
GOOGLE_CLIENT_ID=tu_client_id_aqui
GOOGLE_CLIENT_SECRET=tu_client_secret_aqui
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
JWT_SECRET=cambia_esto_por_algo_random_largo
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
